body {
    background-color: #264653
}
nav {
    width: 100%;
    height: 60px;
    background-color: #305969;
}
nav ul {
    float: right;
    
}
nav ul li {
    float: left;
    list-style: none;
    position: relative;
    font-weight: bold;
    text-align: center;
    padding-left: 30px;
    padding-right: 225px;
}

nav ul li a {
    display: block;
    font-family: arial;
    color: #F6E4EC;
    font-size: 18px;
    padding: 5px 35px 5px 35px;
    text-decoration: none;
    border: 3px solid black; 
}
/*drop down box listdecorations */
nav ul li ul {
    display: none;
    position: absolute;
    padding: 5px;
    border-radius: 0px 4px 0px 4px;
}
nav ul li:hover ul {
    display: block;
    }

/* video left out nav ul li ul li a padding: 12px 14px */


nav ul li ul li {
    width: 180px;
    border-radius: 4px;
}

nav ul li ul li a:hover {
    background-color: #182C34;
}
nav a:hover, nav a:focus {
    background-color: #182C34;
}
